.form-container,
.form-input-item-horizontal,
.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-input-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.form-container {
  border-top: 2px solid white;
  padding-top: 35px;
  margin-bottom: 50px;
}

.form-input-item-horizontal {
  flex-direction: row;
  gap: 26px;
  width: 100%;
}

.form-input-item-horizontal, .form-input-item {
    flex-grow: 1;
}


#recipe-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.14);
  padding: 30px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
