/* inputs */

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 4px 10px;
    outline: none;
    color: #FFFFFF;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder,
select::placeholder {
    color: #F1ECE8; /* Change this to your preferred color */
    opacity: 1;
}

input[type="text"], select {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
}




select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBvbHlsaW5lIHBvaW50cz0iMCAwIDEyIDAgNiA4IiBmaWxsPSIjQjNCMEFFIi8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

