
/* --------------- LOGIN PAGE ------------------ */

#login-btn, #register-btn {
    width: 100%;
}
/* --------------- REGISTER PAGE ------------------ */

.click-here-link {
    text-decoration: underline;
    color: #EBE56B;
}

.form-container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding-top: 35px;
    margin-bottom: 30px;
}

.login-title {
    font-size: 30px;
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
}
