
/* --------------------- CALCULATE PAGE -------------------- */


.calculate-container-lists {
    display: flex;
    gap: 20px;
    width: 1350px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
}


.missing-ingredient {
    color: #BB5C4A;
}